{% extends 'base.html' %}

{% block content %}

<h3>___________________________Search for an Applet____________________________</h3>
<form method='POST'>{% csrf_token %}
    {% if form %} <!--Check if form was passed by parameter to show him-->
        {{form.as_p}}
    {% endif %}
    <input type='submit' value='Search' />
</form>
{% if instances %}
    {% for item in instances %}
        <p><a href=" {% url 'detail' item.id %}">Edit: {{item.id}}</a> ---- {{item}}</p>
    {% endfor %}
{% endif %}


{% endblock %}
